/* ------------------- */
/* Custom properties   */
/* ------------------- */

header {
  padding: 1.50em 0 0 0;
}

h2, h3 {
  padding: 0.5em 0 0em 0;
}

img {
  padding: 0.5em;
}

p {
  padding: 0 0 0 0;
}

footer {
  padding: 1.5em 0 0 0;
}

.card{
  margin: 0.25em;
}

.blockquote {
  padding: 0 2.5em 0 2.5em;
}

.tab {
  padding: 0 0 0.75em 0;
}